<!DOCTYPE html>
<html lang="en-us">
    <body>
        <h1>
            Erorr Case :: {{error}}
        </h1>


        <p> Erorr Message :: {{message}} </p>


        <p>Help Message :: {{help}}</p>
    
    </body>
</html>